/* Ustawienie tła strony na gradient od czarnego do zielonego */
body {
    background: linear-gradient(to bottom, black, green);
    font-family: 'Calibri', sans-serif;
    color: white; /* Opcjonalnie zmień kolor tekstu na biały, aby lepiej kontrastował z tłem */
    margin: 0;
    padding: 0;
}

h1, p {
    margin: 20px;
}

#map {
    height: 400px;
    width: 70%; /* Zmniejszenie szerokości mapy do 70% ekranu */
    margin: 20px auto; /* Wycentrowanie mapy */
    border: 2px solid white; /* Opcjonalnie dodaj ramkę, aby mapa była lepiej widoczna */
}

#log {
    width: 70%; /* Dopasowanie szerokości do mapy */
    height: 200px;
    margin: 20px auto;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.7); /* Lekko przejrzyste tło */
    color: white;
    border: 2px solid white;
    overflow-y: auto; /* Dodanie przewijania w pionie */
    font-family: monospace; /* Styl czcionki dla czytelności */
}

#city-input {
    padding: 10px;
    width: 300px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
}

#city-input:focus {
    border-color: #007bff;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}
